<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="modificar-p.css">
    <title>Modificar prestamo</title>
</head>

<body>
    <!-- -------------------------------------------------------------------- -->
    <!-- --------------------- Lista de socios ------------------------------ -->
    <div class="wrapper">
        <div class="title">
            Seleccione un socio:
        </div>

        <div class="select_wrap">
            <ul class="default_option">
                <li>
                    <div class="option text">
                        <p>Seleccione:</p>
                    </div>
                </li>
            </ul>

            <ul class="select_ul">
                <li>
                    <div class="option uno">
                        <p>Socio1</p>
                    </div>
                </li>

                <li>
                    <div class="option dos">
                        <p>Socio2</p>
                    </div>
                </li>

                <li>
                    <div class="option tres">
                        <p>Socio3</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- -------------------------------------------------------------------- -->
    <!-- --------------------- precio ------------------------------ -->

    <div class="wrapp">
        <div class="text_precio">
            Precio:
        </div>
        <input type="text" name="precio" placeholder="$" />
    </div>

    <!-- -------------------------------------------------------------------- -->
    <!-- ------------------campo para la descripcion------------------------- -->
    <div class="text_descript">
        Descripción:
    </div>

    <!-- -------------------------------------------------------------------- -->
    <!-- --------------------- estatus ------------------------------ -->

    <div class="texto_estatus">
        Estatus:
    </div>

    <div class="wrapp_radio">

        <div class="option">
            <input type="radio" name="radio" id="check1">
            <label for="check1">Activo</label>
        </div>
        <div class="option2">
            <input type="radio" name="radio" id="check2">
            <label for="check2">Inactivo</label>
        </div>

    </div>
    </div>

    <!-- -------------------------------------------------------------------- -->
    <!-- ------------------- boton guardar cambios--------------------------- -->

    <div class="content_btn_modificar">
        <button class="button_modificar">
          <span class="text_modificar">Guardar cambios</span>
        </button>
      </div>

</body>

</html>