<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prestamos activos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="prestamos.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<center>
    <br> <br> <br> <br> <br>
    <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Socio</th>
              <th>Fiador</th>
              <th>Valor</th>
              <th>Interes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Carlos</td>
              <td>Camilo</td>
              <td>150.000</td>
              <td>19%</td>
              <th>
                  <div class="content_btn_modificar">
                <button class="button_modificar">
                  <span class="text_modificar">Modificar</span>
                </button>
              </div>
            </th>
            </tr>
            <tr>
              <td>1</td>
              <td>Carlos</td>
              <td>Camilo</td>
              <td>150.000</td>
              <td>19%</td>
              <th>
                  <div class="content_btn_modificar">
                <button class="button_modificar">
                  <span class="text_modificar">Modificar</span>
                </button>
              </div>
            </th>
            </tr>
            <tr>
              <td>1</td>
              <td>Carlos</td>
              <td>Camilo</td>
              <td>150.000</td>
              <td>19%</td>
              <th>
                  <div class="content_btn_modificar">
                <button class="button_modificar">
                  <span class="text_modificar">Modificar</span>
                </button>
              </div>
            </th>
            </tr>
          </tbody>
</center>

  </body>
</html>
